---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "config";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "reset",
    "base2",
    "font",
    "default",
    "pages/na-midia",
    "pages/resultado-das-avaliacoes",
    "responsive-default";