<div id="float-share-bar">
  <a href="javascript:void(0);" id="share">compartilhe os resultados</a>
  <div id="go-to-top"><i></i></div>
  <i class="close">x</i>
  <div id="share-content">
    <p>escolha a rede social</p>
    <ul class="share-buttons">
      <li><a class="sb fb" rel="modal:open" href="javascript:void(0);" onclick="openModalSharer('https://www.facebook.com/dialog/share?app_id={{ site.social_networks.facebook.app_id }}&amp;display=popup&amp;href={{ site.url }}{{ page.url }}&amp;redirect_uri={{ site.url }}{{ page.url }}', '560', '630');"><i></i>compartilhe no facebook</a></li>
      <li><a class="sb tw" rel="modal:open" href="javascript:void(0);" onclick="openModalSharer('https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&amp;text={{ page.seo.twitter }}&amp;tw_p=tweetbutton&amp;url={{ site.url }}{{ page.url }}', '{{ site.social_networks.twitter.share.width }}', '{{ site.social_networks.twitter.share.height }}');"><i></i>compartilhe no twitter</a></li>
      <li><a class="sb gp" rel="modal:open" href="javascript:void(0);" onclick="openModalSharer('https://plus.google.com/share?url={{ site.url }}{{ page.url }}&amp;t=Resultados+das+avaliações+|+Maternidades+Manaus', '{{ site.social_networks.google_plus.share.width }}', '{{ site.social_networks.google_plus.share.height }}');"><i></i>compartilhe no google+</a></li>
    </ul>
  </div>
</div>
