<footer class="footer">

  <div class="wrapper">

    <div class="copyright">
      <p>desenvolvido por <a href="javascript:void(0);">andrews lince</a></p>
      <p>todos os direitos reservados</p>
      <p>copyright &copy; 2015</p>
    </div>

    <i></i>

    <div class="ssl-badge" style="text-align:center;">
      <script language="JavaScript" type="text/javascript">
      TrustLogo("http://maternidadesmanaus.com.br/img/comodo_secure_113x59_white.png", "CL1", "none");
      </script>
      <a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
    </div>

  </div>

</footer>