<header class="header">

    <i class="heart"></i>

    <h1 class="logo" onclick="menuNav('body');">{{ site.title }}</h1>

    <nav class="nav">
      <!-- <h2 onclick="menuNav('body');">{{ site.title }}</h2> -->
      <i class="menu">MENU</i>
      <ul>
        <li><a class="first" href="javascript:void(0);" onclick="menuNav('#rate-maternity');">faça sua avaliação</a></li>
        <li><a href="javascript:void(0);" onclick="menuNav('#na-midia');">na mídia</a></li>
        <li><a href="javascript:void(0);" onclick="menuNav('#social-network');">redes sociais</a></li>
        <li><a href="/resultado-das-avaliacoes/">resultado das avaliações</a></li>
      </ul>
    </nav>

    <div style="clear:both;"></div>
</header>