<section id="na-midia" class="section featured lazy-load" data-echo-background="{{site_url}}/img/bg-na-midia.jpg">
  <div class="wrapper">
    <h2>na mídia</h2>
    <div class="content">
      <p>
        Acompanhe aqui o que estão falando sobre o
        <strong>{{ site.title }}</strong> nos principais meios de
        comunicação da cidade.
      </p>
      <ul>
        <li>
            <a href="http://noticias.band.uol.com.br/cidades/amazonas/noticia/100000769622/para-ajudar-futuras-maes-site-faz-avaliacao-de-maternidades-do-am.html" target="_blank" class="lazy-load band" data-echo-background="{{site_url}}/img/sprite-media.png">
                {{ site.title }} na Band
            </a>
        </li>
        <li>
            <a href="http://g1.globo.com/am/amazonas/bom-dia-amazonia/videos/t/edicoes/v/casal-cria-site-para-avaliar-maternidades-de-manaus/4431968/" target="_blank" class="lazy-load bomdiaam" data-echo-background="{{site_url}}/img/sprite-media.png">
                {{ site.title }} no G1
            </a>
        </li>
        <li>
            <a href="http://new.d24am.com/plus/comportamento/site-colaborativo-avalia-maternidades-publicas-particulares-manaus/138811" target="_blank" class="lazy-load d24am" data-echo-background="{{site_url}}/img/sprite-media.png">
                {{ site.title }} no D24am
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/maternidadesmanaus/photos/pb.1463442480645313.-2207520000.1449468564./1521697144819846" target="_blank" class="lazy-load acritica-jornal" data-echo-background="{{site_url}}/img/sprite-media.png">
                {{ site.title }} no impresso do Jornal A Crítica
            </a>
        </li>
        <li>
            <a href="http://acritica.uol.com.br/manaus/Amazonas-Amazonia-Casal-desenvolve-populacao-maternidades-Manaus_0_1475252464.html" target="_blank" class="lazy-load acritica-site" data-echo-background="{{site_url}}/img/sprite-media.png">
                {{ site.title }} no Potal A Crítica.com
            </a>
        </li>
      </ul>
    </div>
  </div>
</section>
