<section id="social-network" class="section box">
  <div class="wrapper">
    <h2>redes sociais</h2>
    <div class="content">
      <h3>compartilhe a pesquisa! =)</h3>
      <p>
        o projeto é totalmente colaborativo e você não pode deixar de
        compartilhar essa pesquisa com seus amigos através das redes sociais e
        nos ajudar a divulgar o ranking das maternidades da cidade de Manaus.
      </p>
      <ul class="share-buttons">
        <li>
            <a class="sb fb" data-echo-background="{{ site.url }}/img/sprite-share.png" rel="modal:open" href="javascript:void(0);" onclick="openModalSharer('{{ site.social_networks.facebook.share.url }}', '{{ site.social_networks.facebook.share.width }}', '{{ site.social_networks.facebook.share.height }}');">
                compartilhe no facebook
            </a>
        </li>
        <li>
            <a class="sb tw" data-echo-background="{{ site.url }}/img/sprite-share.png" rel="modal:open" href="javascript:void(0);" onclick="openModalSharer('{{ site.social_networks.twitter.share.url }}', '{{ site.social_networks.twitter.share.width }}', '{{ site.social_networks.twitter.share.height }}');">
                compartilhe no twitter
            </a>
        </li>
        <li>
            <a class="sb gp" data-echo-background="{{ site.url }}/img/sprite-share.png" rel="modal:open" href="javascript:void(0);" onclick="openModalSharer('{{ site.social_networks.google_plus.share.url }}', '{{ site.social_networks.google_plus.share.width }}', '{{ site.social_networks.google_plus.share.height }}');">
                compartilhe no google+
            </a>
        </li>
      </ul>
      <h3>siga o projeto!</h3>
      <p>
        sua participação no projeto é muito importante, então curta, compartilhe,
        envie suas críticas/sugestões/materiais e acompanhe os perfis do
        <strong>Maternidades Manaus</strong> através das nossas páginas nas redes sociais.
      </p>
      <ul class="social-media bottom">
        <li>
          <a target="_blank" href="{{ site.social_networks.instagram.profile_url }}">
            <i class="{{ site.social_networks.instagram.class }}" data-echo-background="{{ site.url }}/img/sprite-follow.png"></i>
            {{ site.social_networks.instagram.name }}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ site.social_networks.google_plus.profile_url }}">
            <i class="go" data-echo-background="{{ site.url }}/img/sprite-follow.png"></i>
            {{ site.social_networks.google_plus.name }}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ site.social_networks.facebook.profile_url }}">
            <i class="{{ site.social_networks.facebook.class }}" data-echo-background="{{ site.url }}/img/sprite-follow.png"></i>
            {{ site.social_networks.facebook.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
