<section id="social-network" class="section box">
  <div class="wrapper">
    <h2>redes sociais</h2>
    <div class="content">
      <h3>compartilhe a pesquisa! =)</h3>
      <p>
        o projeto é totalmente colaborativo e você não pode deixar de
        compartilhar essa pesquisa com seus amigos através das redes sociais e
        nos ajudar a divulgar o ranking das maternidades da cidade de Manaus.
      </p>
      <ul class="share-buttons">
        <li><a class="sb fb" target="_blank" href="{{ site.social_sharer.facebook }}">compartilhe no facebook</a></li>
        <li><a class="sb tw" target="_blank" href="{{ site.social_sharer.twitter }}">compartilhe no twitter</a></li>
        <li><a class="sb gp" target="_blank" href="{{ site.social_sharer.google_plus }}">compartilhe no google+</a></li>
      </ul>
      <h3>siga o projeto!</h3>
      <p>
        sua participação no projeto é muito importante, então curta, compartilhe,
        envie suas críticas/sugestões/materiais e acompanhe os perfis do
        <strong>Maternidades Manaus</strong> através das nossas páginas nas redes sociais.
      </p>
      <ul class="social-media bottom">
        {% for network in site.social_networks %}
          <li>
            <a target="_blank" href="{{ network.link }}">
              <i class="{{ network.class }}"></i>
              {{ network.name }}
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</section>