<section id="summary" class="section featured">
  <div class="wrapper">
    <h2>ajude a avaliar as maternidades da cidade de Manaus!!!</h2>
    <div class="content">
      <p>
        Se você já deu à luz ou chegou a acompanhar um amigo(a) ou parente em
        alguma maternidade de Manaus (pública ou privada), avalie o serviço que
        você recebeu e conte um pouco dessa experiência. Você pode contribuir
        para a melhoria dos serviços prestados às gestantes e ajudá-las a tomar
        a melhor decisão nesse importante momento da vida de uma mulher.
      </p>
    </div>
  </div>
</section>
