.lazy-load {
    background-image: url("/img/blank.gif");
    background-repeat: no-repeat;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transition-property: background-image;
}

/**
 * Share buttons
 */

#float-share-bar {
    display: none;
}

.share-buttons {
    margin-bottom: 50px;
    width: 100%;
    display: block;

    li {
        display: block;
        margin-top: 0;
    }

    a {
        color: transparent;
        display: inline-block;
        font-family: "MontSerrat";
        font-weight: normal;
        font-size: 14px;
        overflow: inherit;
        padding: 15px 12px 15px 0;
        position: relative;
        text-align: right;
        text-indent: -999px;
        width: 50px;
        @include transition;

        i {
            background: transparent url('../img/sprite-global.png') no-repeat;
            display: block;
            height: 24px;
            position: absolute;
            right: 14px;
            top: 14px;
            width: 24px;
        }

        &:hover {
            width: 70px;
            // opacity: 0.8;
        }

        &.fb {
            background-color: #5a79b8;
            border: 1px #5a79b8 solid;

            i {
                background-position: 0 -284px;
            }
        }

        &.tw {
            background-color: #67d1f3;
            border: 1px #67d1f3 solid;

            i {
                background-position: 0 -308px;
            }
        }

        &.gp {
            background-color: #e36b56;
            border: 1px #e36b56 solid;

            i {
                background-position: -24px -284px;
            }
        }
    }
}

#float-share-bar .close,
#share-content p,
#share {
    display: none;
}

#share-content {
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -100px;
}

#go-to-top {
    background-color: #e5e5e5;
    border-radius: 200px;
    bottom: 40px;
    cursor: pointer;
    position: fixed;
    width: 80px;
    height: 80px;
    right: 70px;
    z-index: 5;

    i {
        background: url("../img/sprite-global.png") no-repeat center -26px;
        display: block;
        height: 42px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 15px;
        width: 48px;
    }
}

/**
 * Site header
 */
#header {
    background: url("../img/bg-header2.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 50px 50px 40px 50px;
}

#page-title {
    width: 900px;
    margin: 70px auto auto;

    h1 {
        background-color: #FF4E79;
        color: #fff;
        display: inline-block;
        font-size: 34px;
        padding: 15px 30px;
        opacity: 0.87;
        text-shadow: #000 1px 1px 1px;
        text-transform: lowercase;
        margin: 0;
        width: auto;
    }
}

#main-nav {
    background: #FF4E79;
    cursor: pointer;
    float: right;
    height: 50px;
    overflow: hidden;
    opacity: 0.87;
    padding: 0 15px;
    width: 320px;

    .menu {
        // background: url("../img/icon-menu-w.png") no-repeat center right;
        color: #fff;
        display: block;
        font-family: "MontSerrat";
        font-style: normal;
        font-size: 20px;
        text-align: left;
        text-transform: uppercase;
        text-shadow: #000 1px 1px 1px;
        line-height: 50px;
        position: relative;

        i {
            background: url("../img/sprite-global.png") 0 -178px no-repeat;
            display: block;
            height: 21px;
            position: absolute;
            right: 5px;
            top: 15px;
            width: 32px;
        }
    }

    a {
        border-top: 1px #ccc solid;
        color: #fff;
        display: block;
        font-family: "MontSerrat";
        font-size: 17px;
        text-align: center;
        line-height: 40px;
        text-shadow: #000 1px 1px 1px;
        width: 100%;

        &:hover {
            background-color:#e70038;
        }
    }

    &.active {
        height: 270px;
    }

    li:last-child {
        a {
            border-bottom:1px #ccc solid;
        }
    }
}

#subtitle {
    padding: 20px 0;
    position: relative;
    width: 900px;
    margin: auto;

    h2 {
        color: #aaa;
        font-family: serif;
        font-weight: normal;
        font-size: 20px;
        font-style: italic;
        text-align: justify;
        margin: 0;
    }
}

#logo {
    color: #fff;
    font-family: "Sofia";
    font-size: 40px;
    outline: none;
    line-height: 45px;
    text-decoration: none;
    text-shadow: #af0000 1px 1px 3px;
    width: 100%;
}

/**
 * Heart icon
 */
.heart {
    background-color: #FF4E79;
    border: 3px #fff solid;
    box-shadow: #000 3px 2px 8px;
    display: block;
    width: 120px;
    height: 120px;
    z-index: 1;
    position: absolute;
    left: -155px;
    top: -60px;
    @include full-radius;

    i {
        background: url("../img/sprite-global.png") no-repeat 0 -68px;
        display: block;
        height: 43px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 40px;
        width: 48px;
    }
}

#content {
    min-height: 400px;
    width: 900px;
    margin: 0 auto 50px auto;

    h2 {
        color: $primary-color;
        font-size: 36px;
        margin: 50px auto;
        text-align: center;
        width: 100%;
    }
}

/**
 * Site footer
 */
.footer {

    .wrapper {
        padding: 30px 0;
        border-top: 1px #ddd solid;
        position: relative;
        width: 900px;
    }

    .copyright {
        text-align: right;
        color: #333;
        font-size: 14px;
        display: block;
        line-height: 17px;
        font-style: italic;
        font-family: serif;

        p {
            color: #999;
            margin-bottom: 0;
        }

        a {
            color: $primary-color;
            outline: none;
            padding: 0 2px 2px 2px;
        }
    }

    i {
        background: transparent url("../img/sprite-global.png") 0 -147px no-repeat;
        display: block;
        height: 31px;
        left: 0;
        position: absolute;
        top: 35px;
        width: 35px;
    }
}

.ssl-badge {
    text-align:center;
}
