@font-face{ 
    font-family: 'MontSerrat';
    src: url('../font/montserrat/f.eot');
    src: url('../font/montserrat/f.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat/f.woff') format('woff'),
         url('../font/montserrat/f.ttf') format('truetype'),
         url('WebFont../font/montserrat/f.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Sofia';
    src: url('../font/sofia/f.eot');
    src: url('../font/sofia/f.eot?#iefix') format('embedded-opentype'),
         url('../font/sofia/f.woff') format('woff'),
         url('../font/sofia/f.ttf') format('truetype'),
         url('WebFont../font/sofia/f.svg#webfont') format('svg');
}