#call-to-action {
    background-color: #4c8d31;
    color: #fff;
    display: block;
    font-family: "MontSerrat";
    font-size: 22px;
    text-transform: uppercase;
    padding: 30px;
    width: 550px;
    margin: 30px auto auto auto;
    line-height: 35px;

    &:hover {
        opacity:0.9;
    }
}

/**
 * Header
 */
.header {
    background-color: #FF4E79;
    border-bottom: 3px #fff solid;
    box-shadow: #000 1px 2px 10px;
    padding: 25px 50px 100px 50px;
    width: 100%;
    z-index: 1;
    text-align: center;
    position: absolute;
    opacity: 0.9;

    .logo {
        color: #fff;
        font-family: "Sofia";
        font-size: 48px;
        outline: none;
        line-height: 75px;
        text-shadow: #af0000 1px 1px 3px;
        width: 100%;
    }

    /**
     * Menu Navigation
     */
    .nav {
        h2 {
            display: none;
        }

        li {
            display: inline;
        }

        a {
            color: #fff;
            text-shadow: #af0000 1px 1px 3px;
            line-height: $base-line-height;
            font-family: "MontSerrat";
            font-size: 20px;
            text-decoration: none;
            outline: none;
            margin-left: 60px;
            padding: 5px 10px;
            @include transition;

            &:hover,
            &:focus {
                border-bottom: 2px #fff solid;
                text-shadow: #000 1px 1px 3px;
            }
        }

        .first {
            margin-left: 0;
        }

        .menu {
            display: none;
        }
    }
}


/**
 * Heart icon
 */
.heart {
    background-color: #FF4E79;
    border: 3px #fff solid;
    box-shadow: #000 3px 2px 8px;
    display: block;
    width: 128px;
    height: 128px;
    margin: auto;
    z-index: 76;
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    @include full-radius;

    i {
        background: url("../img/sprite-global.png") no-repeat 0 -68px;
        display: block;
        height: 43px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 40px;
        width: 48px;
    }
}


/**
 * Sections
 */
.section {
    color: #888;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;

    h2 {
        background-color: #fff;
        color: #FF4E79;
        display: table;
        font-size: 40px;
        text-align: center;
        margin: auto;
        position: relative;
        padding: 0 20px;
        line-height: 50px;
    }

    .wrapper {
        margin: auto;
        padding: 50px 0;
        width: $content-width;
    }

    .content {
        border-top: 3px #FF4E79 solid;
        margin-top: -27px;
        padding-top: 50px;
        text-align: justify;
    }

    &.featured {
        background-size: cover !important;
        padding: 50px;

        h2 {
            background-color: transparent;
        }

        .wrapper {
            background-color: #000;
            padding: 50px;
            opacity: 0.7;

        }

        .content {
            border-top: none;
            color: #e5e5e5;
            font-size: 22px;
            text-align: center;
            padding-top: 30px;
            margin-top: 0;

            strong {
                color: $primary-color;
            }
        }

        .last {
            margin-bottom: 0;
        }
    }
}


/**
 * Share buttons
 */
.share-buttons {
    margin-bottom: 50px;
    width: 100%;
    display: block;

    li {
        width: auto;
        display: inline;
        margin: 0 4px;
    }

    a {
        background: url("../img/sprite-share.png") no-repeat;
        color: #fff;
        display: inline-block;
        font-family: "MontSerrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        text-align: right;
        text-indent: inherit;
        padding: 15px 12px 15px 0;
        position: relative;
        overflow: inherit;
        width: calc(33% - 9px);

        &:hover {
            opacity: 0.8;
        }

        i {
            display: block;
            height: 51px;
            position: absolute;
            top: 0;
            width: 80px;
            background: url("../img/sprite-share.png") no-repeat;
        }

        &.fb {
            background-color: #5a79b8;
            background-position: 0 0;
            border: 1px #5a79b8 solid;
            padding-right: 12px;
        }

        &.tw {
            background-color: #67d1f3;
            background-position: 0 -102px;
            border: 1px #67d1f3 solid;
            padding-right: 18px;
        }

        &.gp {
            background-color: #e36b56;
            background-position: 0 -51px;
            border: 1px #e36b56 solid;
            padding-right: 15px;
        }
    }
}


/**
 * Social media
 */
.social-media {
    &.bottom {
        margin: 0;
        text-align: center;

        li {
            background-position: center left;
            margin-top: 20px;
            height: 48px;
            width: 24%;
            display: inline-block;

            i {
                background: url("../img/sprite-follow.png") no-repeat;
                display: block;
                width: 48px;
                height: 48px;
                margin: auto;
                @include transition;
                @include full-radius;

                &.ig {
                    background-position: 0 -96px;
                }

                &.go {
                    background-position: 0 -48px;
                }

                &.fb {
                    background-position: 0 0;
                }
            }

            a {
                color: #FF4E79;
                display: block;
                line-height: 45px;
                text-align: center !important;
                font-family: "MontSerrat";
                font-size: 22px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    outline: none;

                    & > i {
                        @include hover-social-icon;
                    }
                }
            }
        }
    }
}


/**
 * Site footer
 */
.footer {

    .wrapper {
        padding: 30px 0;
        border-top: 1px #ddd solid;
        position: relative;

    }

    .copyright {
        text-align: right;
        color: #333;
        font-size: 14px;
        display: block;
        line-height: 17px;
        font-style: italic;
        font-family: serif;

        p {
            color: #999;
            margin-bottom: 0;
        }

        a {
            color: $primary-color;
            outline: none;
            padding: 0 2px 2px 2px;
        }
    }

    i {
        background: transparent url("../img/sprite-global.png") 0 -147px no-repeat;
        display: block;
        height: 31px;
        left: 0;
        position: absolute;
        top: 35px;
        width: 35px;
    }
}

.ssl-badge {
    text-align:center;
}

/**
 * Summary
 */
#summary {
    background: url("../img/bg-summary3.jpg") no-repeat center;
    background-size: cover;
    padding: 350px 50px 50px;
}


/**
 * Rate maternity
 */
#review-maternity {
    .row {
        border: 1px solid #fff;
        margin-bottom: 30px;
        padding: 20px 10px 10px;
        position: relative;

        &.error {
            background-color: #fff4f6;
            border-color: #feb0bf;

            .otheropt input {
                border-color: #feb0bf;
            }
        }

        .msg {
            background-color: #fd1943;
            color: #fff;
            display: none;
            font-size: 14px;
            font-style: italic;
            padding: 5px 10px;
            position: absolute;
            right: 10px;
            top: -15px;
        }
    }

    .lbl {
        color: #FF4E79;
        display: block;
        font-weight: 700;
        line-height: 30px;
        text-transform: lowercase;
    }

    .txt, .txtar {
        border: 1px solid #ccc;
        color: #777;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 15px;
        padding: 10px 12px;
        width: 100%;
    }

    .txtar {
        height: 160px;
    }

    .down {
        background: #fff url("../img/sprite-global.png") 0 0 no-repeat;
        position:absolute;
        width:48px;
        height:26px;
        top: 58px;
        right: 12px;
    }

    .slt {
        background-color: #fff;
        border: 1px #ccc solid;
        color: #888;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        text-transform: lowercase;
        width: 100%;
    }

    .sbt-wrp {
        text-align: right;
    }

    #sbt {
        background-color: #ff4e79;
        border-radius: 200px;
        border: none;
        color: transparent;
        cursor: pointer;
        font-size: 20px;
        height: 63px;
        width: 63px;
        outline: 0;

        i {
            background: url("../img/sprite-global.png") 0 -220px no-repeat;
            display: block;
            height: 32px;
            margin: auto;
            width: 32px;
        }

        &:hover {
            opacity: .8;
        }
    }

    .hlptxt {
        color: #aaa;
        font-size: 13px;
        margin-bottom: 5px;
        text-transform: lowercase;
    }

    .rgrp {
        width: 100%;
    }

    .ropt {
        cursor: pointer;
        line-height: 32px;
        padding-left: 28px;
        position: relative;
        text-transform: lowercase;

        i {
            @include transition;
            background:url("../img/radio-sprite.png") no-repeat -22px -1px;
            position:absolute;
            outline: none;
            top:6px;
            left:0;
            width: 20px;
            height: 20px;
        }

        &.selected {
            i {
                background: url("../img/radio-sprite.png") no-repeat -1px -1px;
            }
        }
    }

    .otheropt {
        display: none;
        margin-left: -28px;
    }
}


/**
 * On the media
 */
#na-midia {
    background: url("../img/bg-na-midia.jpg") no-repeat center;

    ul {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        li {
            align-items: center;
            display: inline-flex;
            padding: 0 5px;

            a {
                background: url('../img/sprite-media.png') center center no-repeat;
                color: transparent;
                display: inline-block;
                width: 146px;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);

                &:hover {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                }

                &.band {
                    background-position: 0 -36px;
                    height: 88px;
                }

                &.bomdiaam {
                    background-position: -146px -40px;
                    height: 82px;
                }

                &.d24am {
                    background-position: -146px -122px;
                    height: 45px;
                }

                &.acritica-jornal {
                    background-position: 0 0;
                    height: 36px;
                }

                &.acritica-site {
                    background-position: -146px 0px;
                    height: 40px;
                }
            }
        }
    }
}


/**
 * Sent message
 */
#sent-message {
    text-align: center;
    padding: 30px 0 0 0;

    i {
        background-position: center center;
        width: 128px;
        height: 128px;
        display: block;
        margin: auto auto 30px auto;

        @include transition;

        &.animate {
            @include scale1-3;
        }
    }

    h4 {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 42px;
    }

    p {
        font-size: 22px;
        font-family: $base-font-family;
        width: 650px;
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }

    &.ok {
        i {
            background-image: url("../img/ok.png");
            height: 100px;
        }

        h4 {
            color: #239a00;
        }
    }

    &.nok {
        i {
            background-image: url("../img/error.png");
        }

        h4 {
            color: #ea3225;
        }
    }
}
