/**
 * Header
 */
.header {
    background-color: #FF4E79;
    color: #fae9ed;
    padding: 80px 100px;
    width: 100%;
    z-index: 1;

    .logo {
        text-transform: uppercase;
        float: left;
        outline: none;
        width: auto;
        text-align: center;
        line-height: 32px;
        font-size: 30px;
        margin: 0;
        color: #fff;
        text-shadow: #af0000 1px 1px 3px;
    }

    /**
     * Menu Navigation
     */
    .nav {

        float: right;
        text-align: center;

        h2 {
            display: none;
        }

        ul {

            li {

                display: inline;

                a {
                    color: #fff;
                    text-shadow: #af0000 1px 1px 3px;
                    line-height: $base-line-height;
                    font-family: "MontSerrat";
                    font-size: 20px;
                    text-decoration: none;
                    outline: none;
                    margin-left: 40px;

                    &:hover,
                    &:focus {
                        color:#454545 !important;
                        text-shadow: #fff 1px 1px 2px;
                    }

                    @include transition;
                }

                &:first-child a {
                    margin-left: 0;
                }
            }
        }
    }
}


/**
 * Heart icon
 */
i.heart {
    background: #FF4E79 url("../img/heart2.png") no-repeat center center;
    border-radius: 300px;
    border: 7px #fff solid;
    display: block;
    width: 128px;
    height: 128px;
    margin: auto;
    z-index: 76;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;

    &.fixed {
        position: fixed;
        top: 25px;
        width: 90px;
        height: 90px;
        background-size: 45%;
        border-width: 5px;
    }
}

.share-buttons {
    margin-bottom: 50px;
    width: 100%;
    display: block;

    li {
        width: auto;
        display: inline;
        margin: 0 4px;

        a {
            color: #fff;
            display: inline-block;
            font-family: "MontSerrat";
            font-weight: normal;
            font-size: 14px;
            text-align: right;
            padding: 15px 12px 15px 0;
            overflow: inherit;
            text-indent: inherit;
            width: calc(33% - 9px);

            &:hover {
                opacity: 0.8;
            }

            &.fb {
                background: #5a79b8 url("../img/icon-fb.png") no-repeat -48px -28px;
                border: 1px #5a79b8 solid;
                padding-right: 12px;
            }

            &.tw {
                background: #67d1f3 url("../img/icon-tw.png") no-repeat -48px -28px;
                border: 1px #67d1f3 solid;
                padding-right: 18px;
            }

            &.gp {
                background: #e36b56 url("../img/icon-gp.png") no-repeat -48px -28px;
                border: 1px #e36b56 solid;
                padding-right: 15px;
            }
        }

    }
}

/**
 * Social Media
 */
.social-media {
    ul {

        li {
            padding: 8px 0;

            a {
                color: transparent;
                display: block;
                width: 48px;
                height: 48px;
                @include full-radius;
                @include transition;

                &:hover,
                &:focus {
                    @include hover-social-icon;
                }

            }
        }

        i {
            width: 48px;
            height: 48px;
        }
    }


    /**
     * Floating bar
     */
    &.bar {
        background-color: #000;
        opacity: 0.8;
        position: fixed;
        right: 0;
        top: 27%;
        z-index: 1;
        padding: 10px 20px;
    }

    /**
     * Contact section
     */
    &.bottom {
        margin: 0;
        text-align: center;

        li {
            background-position: center left;
            margin-top: 20px;
            height: 48px;
            width: 24%;
            display: inline-block;

            i {
                display: block;
                width: 48px;
                height: 48px;
                margin: auto;
                @include transition;
                @include full-radius;
            }

            a {
                color: #FF4E79;
                display: block;
                line-height: 45px;
                text-align: center !important;
                text-align: left;
                font-family: "MontSerrat";
                font-size: 22px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    outline: none;

                    & > i {
                        @include hover-social-icon;
                    }

                }
            }
        }
    }
}

#rate {
    ul {
        text-align: center;
        width: 100%;
        li {
            background: url("../img/heart-checked.png") no-repeat center center;
            width: 64px;
            height: 64px;
            display: inline-block;
            margin: 0 5px;
            cursor: pointer;
            opacity: 0.4;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}


/**
 * Sections
 */
.section {
    background-color: #fff;
    color: #777;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    padding: 75px 0 0 0;

    h2 {
        background-color: #f5f5f5;
        color: #FF4E79;
        display: table;
        font-size: 40px;
        text-align: center;
        margin: auto;
        position: relative;
        padding: 0 20px;
    }

    .wrapper {
        background: #f5f5f5;
        margin: auto;
        padding: 35px 35px 35px 35px;
        width: $content-width;

        .content {
            border-top: 3px #FF4E79 solid;
            margin-top: -30px;
            padding-top: 50px;
        }
    }

    &.featured {
        padding: 35px 0 75px 0;
        background-color: #f5f5f5;

        h2 {
            background-color: transparent;
        }

        .wrapper {
            padding: 0;

            .content {
                border-top: none;
                margin-top: 0;
            }
        }
    }
}


/**
 * Summary
 */
#summary {
    font-size: 21px;
    text-align: center;
    background: url("../img/baby-cover.jpg") no-repeat center -89px;
    background-size: cover;

    h2 {
        margin: 10px auto 0 auto;
        width: 80%;
    }

    .wrapper {
        color: #555;
        padding: 20px;
        opacity: .65;
        background-color: #fff;
    }
}


/**
 * Social Network
 */
.social-netwok {

    margin-top: 40px;
    height: 515px;

    .row {
        width: 100%;
        margin-bottom: 40px;
        position: relative;

        i {
            color: #b80207;
            position: absolute;
            top: 20px;
            left: 15px;
            font-size: 30px;
        }

        em {
            display: none;
            position: absolute;
            top: -16px;
            right: 20px;
            font-style: italic;
            font-size: 15px;
            background-color: #b80207;
            padding: 0 18px;
            border: 1px #555 dotted;
        }

        input,
        textarea {
            font-family: Helvetica;
            font-size: 18px;
            background-color: transparent;
            border: none;
            border-bottom: 1px #aaa solid;
            border-left: 1px #aaa solid;
            color: #aaa;
            outline: none;
            padding: 20px 20px 20px 40px;
            width: 100%;

            &[type="text"] {
                text-transform: uppercase;

                &::-webkit-input-placeholder {
                   text-transform:lowercase;
                }

                &:-moz-placeholder {
                   text-transform:lowercase;
                }

                &::-moz-placeholder {
                   text-transform:lowercase;
                }

                &:-ms-input-placeholder {  
                   text-transform:lowercase;
                }
            }

            &[type="email"] {
                text-transform: lowercase;
            }

            &:focus {
                border-left-color: $orange-color;
                border-bottom-color: $orange-color;
            }
        }

        textarea {
            display: block;
            resize: none;
            min-height: 200px;
        }

        .submit {
            background-color: #333;
            border: 1px #333 solid;
            width: 70px;
            height: 70px;
            outline: none;
            @include transition;
            @include full-radius;

            span {
                display: none;
                position: absolute;
                top: 20px;
                right: 80px;
                color: #ccc;
                font-family: "CaviarDreams";
                font-size: 20px;
                font-weight: bold;
            }

            &:hover,
            &:focus {
                background-color: $orange-color;
                border-color: $orange-color;
                color: #fff;
                cursor: pointer;

                span {
                    display: block;
                }
            }
        }

        &.error input,
        &.error textarea {
            border-left-color: #b80207 !important;
            border-bottom-color: #b80207 !important;
            background-color: #200001;
        }

        &.right {
            text-align: right;

            i {
                font-family: Helvetica, Arial, sans-serif;
                font-weight: normal;
                top: 0;
                left: 0;
                position: relative;
            }
        }
    }

    .required-fields {
        color: #b80207;
        float: left;
        font-family: "CaviarDreams";
        font-size: 22px;
        font-weight: bold;
        padding: 15px 0 0 0;

        i {
            margin-right: 5px;
        }
    }

    #sent-message {
        text-align: center;
        padding-top: 80px;
        font-family: "CaviarDreams";

        i {
            margin-bottom: 30px;

            @include transition;

            &.animate {
                @include scale1-3;
            }
        }

        h4 {
            color: #239a00;
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        p {
            font-size: 22px;
            font-weight: bold;
            width: 650px;
            margin: auto;
            text-align: center;
            margin-top: 40px;
        }
    }
}


#sent-message {
    text-align: center;
    padding: 30px 0;

    i {
        background-position: center center;
        width: 128px;
        height: 128px;
        display: block;
        margin: auto auto 30px auto;

        @include transition;

        &.animate {
            @include scale1-3;
        }
    }

    h4 {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        font-size: 22px;
        font-family: $base-font-family;
        width: 650px;
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }

    &.ok {
        i {
            background-image: url("../img/ok.png");
            height: 100px;
        }

        h4 {
            color: #239a00;
        }
    }
    
    &.nok {
        i {
            background-image: url("../img/error.png");
        }

        h4 {
            color: #ea3225;
        }
    }
}


/**
 * Site footer
 */
.footer {
    background-color: #fff;
    padding: 30px 0 30px 0;

    .wrapper {
        padding: 0;
        height: 105px;

        i {
            @include transition;

            &:hover {
                @include rotate45;
            }
        }
    }

    .copyright {
        text-align:center;
        color: #333;
        font-size:15px;
        display:block;
        line-height: 23px;
        padding-top: 15px;

        p {
            color: #999;
            margin-bottom: 0;
        }

        a {
            outline: none;
            border-bottom: 1px #ccc dotted;
            padding: 0 2px 2px 2px;
        }
    }
}


/**
 * Go to top button
 */
#go-to-top {
    width: 70px;
    height: 70px;
    background-color: #d5d5d5;
    display: none;
    position: fixed;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.85;
    box-shadow: #000 1px 1px 1px;
    text-align: center;
    @include full-radius;
    @include transition;

    &:hover {
        @include scale1-3;
        cursor: pointer;
    }

    i {
        margin-top: 20px;
    }
}


@include media-query($on-laptop) {
    
}

@include media-query($on-palm) {
    
}


/**
 * Page content
 */
.page-content {
    padding: 50px 0 0 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Firefox Hacks
 */
@-moz-document url-prefix() { 
    blockquote {
        font-size: 25px;
        line-height: 45px;

        .quote {
            font-family: Arial;
            top: 95px;
        }

    }
}