/**
 * Header
 */
.header {
    background-color: #FF4E79;
    border-bottom: 3px #fff solid;
    box-shadow: #000 1px 2px 10px;
    padding: 50px 50px 100px 50px;
    width: 100%;
    z-index: 1;
    text-align: center;
    position: absolute;
    opacity: 0.9;

    .logo {
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        outline: none;
        line-height: 45px;
        font-size: 38px;
        text-shadow: #af0000 1px 1px 3px;
    }

    /**
     * Menu Navigation
     */
    .nav {
        h2 {
            display: none;
        }

        li {
            display: inline;
        }

        a {
            color: #fff;
            text-shadow: #af0000 1px 1px 3px;
            line-height: $base-line-height;
            font-family: "MontSerrat";
            font-size: 20px;
            text-decoration: none;
            outline: none;
            margin-left: 60px;
            padding: 5px 10px;
            @include transition;

            &:hover,
            &:focus {
                border-bottom: 2px #fff solid;
                text-shadow: #000 1px 1px 3px;
            }
        }

        .first {
            margin-left: 0;
        }

        .menu {
            display: none;
        }
    }
}


/**
 * Heart icon
 */
.heart {
    background: #FF4E79 url("../img/heart2.png") no-repeat center center;
    border: 3px #fff solid;
    box-shadow: #000 3px 2px 8px;
    display: block;
    width: 128px;
    height: 128px;
    margin: auto;
    z-index: 76;
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    @include full-radius;
}

.share-buttons {
    margin-bottom: 50px;
    width: 100%;
    display: block;

    li {
        width: auto;
        display: inline;
        margin: 0 4px;
    }

    a {
        color: #fff;
        display: inline-block;
        font-family: "MontSerrat";
        font-weight: normal;
        font-size: 14px;
        text-align: right;
        padding: 15px 12px 15px 0;
        overflow: inherit;
        text-indent: inherit;
        width: calc(33% - 9px);

        &:hover {
            opacity: 0.8;
        }

        &.fb {
            background: #5a79b8 url("../img/icon-fb.png") no-repeat -48px -28px;
            border: 1px #5a79b8 solid;
            padding-right: 12px;
        }

        &.tw {
            background: #67d1f3 url("../img/icon-tw.png") no-repeat -48px -28px;
            border: 1px #67d1f3 solid;
            padding-right: 18px;
        }

        &.gp {
            background: #e36b56 url("../img/icon-gp.png") no-repeat -48px -28px;
            border: 1px #e36b56 solid;
            padding-right: 15px;
        }
    }
}

/**
 * Social Media
 */
.social-media {
    ul {

        li {
            padding: 8px 0;

            a {
                color: transparent;
                display: block;
                width: 48px;
                height: 48px;
                @include full-radius;
                @include transition;

                &:hover,
                &:focus {
                    @include hover-social-icon;
                }

            }
        }

        i {
            width: 48px;
            height: 48px;
        }
    }


    /**
     * Floating bar
     */
    &.bar {
        background-color: #000;
        opacity: 0.8;
        position: fixed;
        right: 0;
        top: 27%;
        z-index: 1;
        padding: 10px 20px;
    }

    /**
     * Contact section
     */
    &.bottom {
        margin: 0;
        text-align: center;

        li {
            background-position: center left;
            margin-top: 20px;
            height: 48px;
            width: 24%;
            display: inline-block;

            i {
                display: block;
                width: 48px;
                height: 48px;
                margin: auto;
                @include transition;
                @include full-radius;
            }

            a {
                color: #FF4E79;
                display: block;
                line-height: 45px;
                text-align: center !important;
                text-align: left;
                font-family: "MontSerrat";
                font-size: 22px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    outline: none;

                    & > i {
                        @include hover-social-icon;
                    }

                }
            }
        }
    }
}

#rate {
    ul {
        text-align: center;
        width: 100%;

        li {
            background: url("../img/heart-checked.png") no-repeat center center;
            width: 64px;
            height: 64px;
            display: inline-block;
            margin: 0 5px;
            cursor: pointer;
            opacity: 0.4;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}


/**
 * Sections
 */
.section {
    background-color: #fff;
    color: #888;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 50px 0;

    h2 {
        background-color: #fff;
        color: #FF4E79;
        display: table;
        font-size: 40px;
        text-align: center;
        margin: auto;
        position: relative;
        padding: 0 20px;
        line-height: 50px;
    }

    .wrapper {
        margin: auto;
        padding: 0;
        width: $content-width;
    }

    .content {
        border-top: 3px #FF4E79 solid;
        margin-top: -27px;
        padding-top: 50px;
        text-align: justify;
    }

    &.featured {
        padding: 50px 0;
        background-size: cover;

        h2 {
            background-color: transparent;
        }

        .wrapper {
            background-color: #000;
            padding: 50px;
            opacity: 0.8;

        }

        .content {
            border-top: none;
            color: #e5e5e5;
            font-size: 22px;
            text-align: center;
            padding-top: 30px;
            margin-top: 0;

            strong {
                color: $primary-color;
            }
        }

        .last {
            margin-bottom: 0;
        }
    }
}


/**
 * Summary
 */
#summary {
    background: url("../img/bg-summary3.jpg") no-repeat center -89px;
    background-size: cover;
    padding: 350px 50px 140px 50px;
}


/**
 * media
 */
#na-midia {
    background: url("../img/bg-na-midia.jpg") no-repeat center -89px;

    ul {
        margin-top: 50px;

        li {
            display: inline-block;
            padding: 0 5px;
        }
    }

    img {
        width: 145px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        &:hover {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
}

/**
 * Social Network
 */
.social-netwok {

    margin-top: 40px;
    height: 515px;

    .row {
        width: 100%;
        margin-bottom: 40px;
        position: relative;

        i {
            color: #b80207;
            position: absolute;
            top: 20px;
            left: 15px;
            font-size: 30px;
        }

        em {
            display: none;
            position: absolute;
            top: -16px;
            right: 20px;
            font-style: italic;
            font-size: 15px;
            background-color: #b80207;
            padding: 0 18px;
            border: 1px #555 dotted;
        }

        input,
        textarea {
            font-family: Helvetica;
            font-size: 18px;
            background-color: transparent;
            border: none;
            border-bottom: 1px #aaa solid;
            border-left: 1px #aaa solid;
            color: #aaa;
            outline: none;
            padding: 20px 20px 20px 40px;
            width: 100%;

            &[type="text"] {
                text-transform: uppercase;

                &::-webkit-input-placeholder {
                   text-transform:lowercase;
                }

                &:-moz-placeholder {
                   text-transform:lowercase;
                }

                &::-moz-placeholder {
                   text-transform:lowercase;
                }

                &:-ms-input-placeholder {  
                   text-transform:lowercase;
                }
            }

            &[type="email"] {
                text-transform: lowercase;
            }

            &:focus {
                border-left-color: $orange-color;
                border-bottom-color: $orange-color;
            }
        }

        textarea {
            display: block;
            resize: none;
            min-height: 200px;
        }

        .submit {
            background-color: #333;
            border: 1px #333 solid;
            width: 70px;
            height: 70px;
            outline: none;
            @include transition;
            @include full-radius;

            span {
                display: none;
                position: absolute;
                top: 20px;
                right: 80px;
                color: #ccc;
                font-family: "CaviarDreams";
                font-size: 20px;
                font-weight: bold;
            }

            &:hover,
            &:focus {
                background-color: $orange-color;
                border-color: $orange-color;
                color: #fff;
                cursor: pointer;

                span {
                    display: block;
                }
            }
        }

        &.error input,
        &.error textarea {
            border-left-color: #b80207 !important;
            border-bottom-color: #b80207 !important;
            background-color: #200001;
        }

        &.right {
            text-align: right;

            i {
                font-family: Helvetica, Arial, sans-serif;
                font-weight: normal;
                top: 0;
                left: 0;
                position: relative;
            }
        }
    }

    .required-fields {
        color: #b80207;
        float: left;
        font-family: "CaviarDreams";
        font-size: 22px;
        font-weight: bold;
        padding: 15px 0 0 0;

        i {
            margin-right: 5px;
        }
    }
}


#sent-message {
    text-align: center;
    padding: 30px 0 0 0;

    i {
        background-position: center center;
        width: 128px;
        height: 128px;
        display: block;
        margin: auto auto 30px auto;

        @include transition;

        &.animate {
            @include scale1-3;
        }
    }

    h4 {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 42px;
    }

    p {
        font-size: 22px;
        font-family: $base-font-family;
        width: 650px;
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }

    &.ok {
        i {
            background-image: url("../img/ok.png");
            height: 100px;
        }

        h4 {
            color: #239a00;
        }
    }
    
    &.nok {
        i {
            background-image: url("../img/error.png");
        }

        h4 {
            color: #ea3225;
        }
    }
}


/**
 * Site footer
 */
.footer {

    .wrapper {
        padding: 30px 0;
        border-top: 1px #ddd solid;
        position: relative;

    }

    .copyright {
        text-align: right;
        color: #333;
        font-size: 14px;
        display: block;
        line-height: 17px;
        font-style: italic;
        font-family: serif;

        p {
            color: #999;
            margin-bottom: 0;
        }

        a {
            color: $primary-color;
            outline: none;
            padding: 0 2px 2px 2px;
        }
    }

    i {
        background: transparent url("../img/heart-gs.png") no-repeat center left;
        display: block;
        width: 48px;
        height: 43px;
        position: absolute;
        top: 35px;
        left: 0;
    }
}