@include media-query(1200px) {
}

@include media-query(1000px) {
    .share-buttons {
        a {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .section {
        .wrapper {
            width: 100%;
            padding: 50px;
        }

        &.featured {
            padding: 50px;
        }
    }

    #na-midia {
        li {
            margin: 15px 0;
            width: 25%;
        }

        img {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }

    .footer {
        width: 100%;
        padding: 0 60px;
    }
}

@include media-query(800px) {
    #call-to-action {
        width: 100%;
    }

    #na-midia {
        li {
            width: 40%;
        }
    }

    .header {
        .logo {
            font-size: 40px;
        }

        .heart {
            top: 195px;
        }

        .nav {
            background-color: pink;
            cursor: pointer;
            display: block;
            height: 50px;
            width: 100%;

            .menu {
                background: url("../img/icon-menu.png") no-repeat center right 20px;
                color: #333;
                display: block;
                font-family: "MontSerrat";
                font-style: normal;
                font-size: 20px;
                line-height: 50px;
                text-align: left;
                text-transform: uppercase;
                padding: 0 15px;
            }

            ul {
                border-top: 1px #E02F2F solid;
                display: none;

                li {
                    display: block;
                    width: 100%;
                    z-index: 100;
                    position: relative;
                    background: pink;
                    border-bottom: 1px #E02F2F solid;

                    a {
                        color: #333;
                        display: block;
                        margin: 0;
                        text-shadow: none;
                        padding: 10px;
                        width: 100%;

                        &:hover,
                        &:focus {
                            background-color: #E02F2F;
                            border: none;
                            color: #fff;
                            text-shadow: none;
                        }
                    }
                }
            }

            &.active {
                ul {
                    display: block;
                }
            }
        }
    }
}

@include media-query(600px) {

    #call-to-action {
        font-size: 20px;
        text-transform: uppercase;
        padding: 20px;
    }

    #review-maternity .lbl,
    #review-maternity .ropt,
    #review-maternity .slt {
        font-size: 16px;
    }

    #review-maternity .hlptxt {
        line-height: 20px;
        margin: 3px 0 7px 0;
    }

    #review-maternity .ropt {
        line-height: 20px;
        margin-bottom: 10px;
        background-position: 0 2px;

        i {
            top: 0;
        }

        &.selected {
            background-position: 0 -67px !important;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    #review-maternity .down {
        top: 52px;
    }

    #review-maternity .row.error {
        padding: 0 10px;
        font-size: 13px;
    }

    .header {
        padding: 0 50px 50px;

        .heart {
            background-size: 43%;
            top: 152px;
            width: 70px;
            height: 70px;
        }

        .logo {
            font-size: 30px;
            margin: 0;
            line-height: 85px;
        }
    }

    .page-content {
        padding: 0;
    }

    #sent-message {
        h4 {
            line-height: 42px;
        }

        p {
            width: 100%;
            line-height: 32px;
        }
    }

    .section {
        .content {
            margin-top:-20px;
            font-size: 20px;
            line-height: 32px;
        }

        h2 {
            font-size: 34px;
            line-height: 45px;
        }

        h3 {
            font-size: 20px;
            text-align: center;
        }
    }

    .share-buttons {
        li {
            a {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    .social-media.bottom li {
        display: inline-block;
        height: auto;
        width: 100%;
    }

    .footer {
        padding: 0 30px 0 30px;

        .copyright {
            text-align: center;
            line-height: 19px;
        }

        i {
            background-position: center center;
            padding: 40px 0;
            position: relative;
            margin: auto;
            top: 0;
        }
    }

    #summary {
        padding: 240px 50px 50px;
    }

    #na-midia {
        li {
            width: 100%;
            margin: 20px 0;
        }
    }
}

@include media-query(500px) {
    #review-maternity .row {
        margin-bottom: 20px;
    }

    #review-maternity .down {
        top: 58px;
    }

    .header {
        padding: 0 30px 50px;

        .logo {
            font-size: 26px;
        }

        .nav {
            ul {
                li {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .section {
        h2 {
            font-size: 26px;
            line-height: 36px;
            padding: 0 10px;
        }

        .wrapper {
            padding: 30px;
        }

        .content {
            font-size: 18px;
            line-height: 28px;
        }

        &.featured {
            padding: 0;

            .wrapper {
                padding: 30px;

                .content {
                    font-size: 18px !important;
                    line-height:28px;
                }
            }
        }
    }

    #summary {
        padding: 185px 0 0 0;

        .wrapper {
            padding-top: 50px;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media
    only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
{

}

/* Smartphones (landscape) ----------- */
@media
    only screen
    and (min-width : 321px)
{

}

/* Smartphones (portrait) ----------- */
@media
    only screen
    and (max-width : 320px)
{

}

/* iPads (portrait and landscape) ----------- */
@media
    only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
{

}

/* iPads (landscape) ----------- */
@media
    only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
{

}

/* iPads (portrait) ----------- */
@media
    only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
{

}

/* Desktops and laptops ----------- */
@media
    only screen
    and (min-width : 1224px)
{

}

/* Large screens ----------- */
@media
    only screen
    and (min-width : 1824px)
{

}

/* iPhone 4 ----------- */
@media
    only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5)
{

}
