@include media-query(1200px) {
    
}

@include media-query(1000px) {
    .share-buttons {
        a {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .section {
        .wrapper {
            width: 100%;
            padding: 0 50px;
        }

        &.featured {
            padding: 50px;
        }
    }

    .freebirdMaterialSelectPaperselectOptionList {
        width: 100%;
        width: calc(100% - 19px);
    }

    #summary {
        padding-bottom: 140px;
        margin-bottom: -90px;
    }

    #na-midia {
        li {
            margin: 15px 0;
            width: 25%;
        }

        img {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }

    .footer {
        width: 100%;
        padding: 0 60px;
    }
}

@include media-query($on-laptop) {
    .freebirdMaterialSelectPaperselectOptionList {
        width: 100%;
        width: calc(100% - 19px);
    }

    #na-midia {
        li {
            width: 40%;
        }
    }

    .header {
        .logo {
            font-size: 30px;
        }

        .heart {
            top: 195px;
        }

        .nav {
            background-color: pink;
            cursor: pointer;
            display: block;
            height: 50px;
            width: 100%;

            .menu {
                color: #333;
                display: block;
                font-family: "MontSerrat";
                font-style: normal;
                font-size: 24px;
                line-height: 50px;
                text-align: left;
                text-transform: lowercase;
                padding: 0 15px;

            }

            ul {
                border-top: 1px #E02F2F solid;
                display: none;

                li {
                    display: block;
                    width: 100%;
                    z-index: 100;
                    position: relative;
                    background: pink;
                    border-bottom: 1px #E02F2F solid;
                    
                    a {
                        color: #333;
                        display: block;
                        margin: 0;
                        text-shadow: none;
                        padding: 10px;
                        width: 100%;

                        &:hover,
                        &:focus {
                            background-color: #E02F2F;
                            border: none;
                            color: #fff;
                            text-shadow: none;
                        }
                    }
                }
            }

            &.active {
                ul {
                    display: block;
                }
            }
        }
    }
}

@include media-query($on-palm) {

    .freebirdFormviewerViewItemsItemItemTitle,
    .freebirdFormviewerViewItemsRadioChoice,
    .freebirdMaterialSelectPaperselectContent {
        font-size: 16px;
        line-height: 24px;
        text-transform: lowercase;
    }

    .freebirdMaterialSelectPaperselectOptionList {
        width: 100%;
        width: calc(100% - 19px);
    }

    .freebirdFormviewerViewItemsItemItemHelpText {
        line-height: 20px;
        margin: 3px 0 7px 0;
    }

    .freebirdFormviewerViewItemsRadioChoice {
        line-height: 20px;
        margin-bottom: 10px;
        background-position: 0 2px;

        .freebirdThemedRadio {
            top: 0;
        }

        &.selected {
            background-position: 0 -67px !important;
        }
    }

    .freebirdMaterialSelectPaperselectOptionSeparator {
        top: 8px;
        height: 25px;
    }


    .freebirdFormviewerViewItemsItemErrorMessage {
        padding: 0 10px;
        font-size: 13px;
    }

    .header {
        padding: 40px 50px 50px 50px;

        .heart {
            background-size: 50%;
            top: 180px;
            width: 80px;
            height: 80px;
        }

        .logo {
            font-weight: bold;
            font-size: 20px;
            margin: 0 0 20px 0px;
        }
    }

    .page-content {
        padding: 0;
    }

    .contact {
        .required-fields {
            font-size: 19px;
        }

        #sent-message {
            padding-top: 50px;

            h4 {
                line-height: 40px;
            }

            p {
                width: 100%;
            }
        }
    }

    .section {
        .wrapper {
            width: 100%;
        }

        .content {
            margin-top:-20px;
            font-size: 20px;
            line-height: 32px;
        }

        h2 {
            font-size: 34px;
            line-height: 45px;
        }

        h3 {
            font-size: 20px;
            text-align: center;
        }
    }

    .share-buttons {
        li {
            a {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    .social-media.bottom li {
        display: inline-block;
        height: auto;
        width: 100%;
    }

    .footer {
        padding-bottom: 65px;

        .copyright {
            text-align: center;
        }

        i {
            top: 105px;
            right: 0;
            margin: auto;
        }
    }

    #na-midia {
        li {
            width: 100%;
            margin: 20px 0;
        }

        img {
            width: 200px;
        }
    }
}

@include media-query(500px) {
    .section {

        h2 {
            font-size: 26px;
            line-height: 36px;
            padding: 0 10px;
        }

        .content {
            font-size: 18px;
            line-height: 28px;
        }

        &.featured {
            padding: 0;

            .wrapper {
                .content {
                    font-size: 18px !important;
                    line-height:28px;
                }
            }
        }
    }

    .header {
        .nav {
            ul {
                li {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    #summary {
        padding: 205px 0 90px 0;

        .wrapper {
            padding-top: 70px;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media
    only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px)
{

}

/* Smartphones (landscape) ----------- */
@media
    only screen 
    and (min-width : 321px)
{

}

/* Smartphones (portrait) ----------- */
@media
    only screen 
    and (max-width : 320px)
{
    .social-media.bar {
        display: none !important;
    }

    .contact {
        .required-fields {
            padding: 0 0 0 0;
            width: 100px;
        }
    }
}

/* iPads (portrait and landscape) ----------- */
@media
    only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
{
    .social-media.bar {
        display: none !important;
    }
}

/* iPads (landscape) ----------- */
@media
    only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape)
{
    .social-media.bar {
        display: none !important;
    }
}

/* iPads (portrait) ----------- */
@media
    only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
{

}

/* Desktops and laptops ----------- */
@media
    only screen 
    and (min-width : 1224px)
{

}

/* Large screens ----------- */
@media
    only screen 
    and (min-width : 1824px)
{
    
}

/* iPhone 4 ----------- */
@media
    only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5)
{

}