@include media-query(1315px) {
    #page-title {
        width: 100%;

        h1 {
            margin-left: 145px;
        }
    }

    #subtitle {
        width: 100%;
        padding-left: 190px;
    }

    .heart {
        left: 45px;
    }

    .wrapper {
        width: 100%;
    }

    #go-to-top {
        right: 30px;
    }
}

@include media-query(1200px) {
    #go-to-top {
        background-position: center 5px;
        width: 60px;
        height: 60px;
        bottom: 25px;
        right: 0;
        left: 0;
        margin: auto;
    }
}

@include media-query(1000px) {
    #content {
        width: 100%;
        padding: 0 50px 50px 50px;
    }

    .footer {
        width: 100%;
        padding: 0 50px 80px 50px;

        .wrapper {
            width: 100%;
        }
    }
}

@include media-query(900px) {
    #header {
        padding-bottom: 70px;
    }

    #logo {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    #main-nav {
        float: none;
        margin-bottom: 35px;
        width: 100%;
    }

    #page-title {
        margin:auto;
        font-size: 28px;

        h1 {
            margin: auto;
            width: 480px;
            display: block;
            text-align: center;
        }
    }

    #subtitle {
        padding: 55px 50px 50px;
        width: 100%;
        
        h2 {
            text-align: center;
            font-size: 105%;
            line-height: 28px;
        }
    }

    .heart {
        width: 70px;
        height: 70px;
        background-size: 44%;
        top: -35px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #content {
        h2 {
            margin: 0;
            padding: 50px;
            line-height: 45px;
        }
    }

    #review-info {
        text-align: center;
        background-color: #f6f6f6;
        padding: 20px 30px 30px 30px;
    }

    #qty-total-reviews {
        font-size: 85%;
    }

    #last-update {
        font-size: 60%;
    }
}

@include media-query(800px) {
    #logo {
        font-size: 40px;
    }

    #ranking-box {
        &> li {
            margin-bottom:40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .position1 {
            .wrapper-chart {
                h5 {
                    text-align: center;
                }
            }
        }

        .position2,
        .position3 {
            width: 100%;
        }
    }

    #other-statistics {
        h3 {
            text-align: center;
        }
    }
}

@include media-query(650px) {
    #logo {
        font-size: 30px;
    }

    #page-title {
        h1 {
            width: 100%;
            font-size: 22px;
        }
    }

    #qty-total-reviews strong {
        display: block;
        margin: -7px 0 5px 0;
    }

    #ranking-box {
        .badge {
            font-size: 19px;
        }

        .position1 {
            .wrapper-chart {
                .legend {
                    li {
                        font-size: 16px;
                    }
                }
            }

            .badge {
                font-size: 26px;
            }

            .ct-label {
                font-size: 16px;
            }
        }
    }

    .legend li {
        width: 100%;

        &.qty-2,
        &.qty-3,
        &.qty-4,
        &.qty-5 {
            width: 100% !important;
        }
    }

    .description {
        font-size: 16px;
    }

    .footer {
        padding: 0 30px 65px 30px;

        .copyright {
            text-align: center;
            line-height: 19px;
        }

        i {
            background-position: center center;
            padding: 40px 0;
            position: relative;
            margin: auto;
            top: 0;
        }
    }

    #float-share-bar {
        bottom: 0;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 1;

        .close {
            background-color: #FF4E79;
            border-radius: 100px;
            color: #fff;
            display: none;
            font-family: serif;
            font-size: 22px;
            font-style: italic;
            width: 35px;
            height: 35px;
            text-align: center;
            position: absolute;
            top: 25px;
            right: 25px;
            line-height: 31px;
            font-weight: bold;
        }

        &>a {
            line-height: 60px;
            text-align: center;
            bottom: 0;
            border-radius: 0;
            right: 0;
            left: initial;
        }

        &.active {
            background-color: #000;
            height: 100%;

            #share-content {
                display: block;
            }

            &>a {
                display: none;
            }

            .close {
                display: block;
            }
        }
    }

    #share {
        background: #4c8d31 url("../img/icon-share.png") no-repeat center left 25px;
        color: #c3e5b5;
        display: block;
        font-size: 16px;
        float: left;
        width: 80%;
        padding-left: 30px;
    }

    #go-to-top {
        background: #09669e url("../img/arrow-top-blue.png") no-repeat center center;
        float: right;
        width: 20%;
    }

    #share-content {
        color: #fff;
        display: none;
        width: 290px;
        height: 240px;
        position:absolute;
        text-align: center;
        top:50%;
        left:50%;
        margin-top:-120px;
        margin-left:-145px;

        p {
            font-family: "MontSerrat";
            font-size: 22px;
            color: $primary-color;
            display: block;
        }
    }

    .share-buttons {
        li {
            margin-bottom: 20px;

            a {
                text-indent: initial;
                color: #fff;
                width: 100%;

                &:hover {
                    width: 100%;
                }
            }
        }
    }
}

@include media-query(500px) {
    #header {
        padding: 30px 30px 55px;
    }

    #logo {
        font-size: 26px;
    }

    #page-title {
        h1 {
            font-size: 19px;
        }
    }

    #content {
        padding: 0;

        h2 {
            padding: 30px;
            font-size: 26px;
            line-height: 35px;
        }
    }

    #maternity-ranking {

        .description,
        h2 {
            padding: 30px;
        }

        .description {
            padding-top: 0;
        }
    }

    #ranking-box {
        margin-top: 50px;

        .info {
            padding: 50px 30px 30px;
        }

        .position1 {
            h3 {
                font-size: 40px;
            }

            .maternity-name {
                font-size: 26px;
            }
        }
    }

    .wrapper-chart {
        padding: 30px;
        margin-bottom: 30px;
    }

    #other-statistics {
        .wrapper-chart {
            padding: 30px 0;
        }

        .mm-chart {
            padding: 0 30px;
        }

        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
        }

        .legend {
            li {
                font-size: 90%;
            }
        }
    }
}

@include media-query(400px) {
    #share-content {
        width: 250px;
        margin-left:-125px;

        p {
            font-size: 18px;
        }
    }

    .share-buttons {
        a {
            font-size: 12px;
        }
    }

    #share {
        font-size: 14px;
        padding-left: 40px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media
    only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px)
{

}

/* Smartphones (landscape) ----------- */
@media
    only screen 
    and (min-width : 321px)
{

}

/* Smartphones (portrait) ----------- */
@media
    only screen 
    and (max-width : 320px)
{

}

/* iPads (portrait and landscape) ----------- */
@media
    only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
{

}

/* iPads (landscape) ----------- */
@media
    only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape)
{

}

/* iPads (portrait) ----------- */
@media
    only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
{

}

/* Desktops and laptops ----------- */
@media
    only screen 
    and (min-width : 1224px)
{

}

/* Large screens ----------- */
@media
    only screen 
    and (min-width : 1824px)
{
    
}

/* iPhone 4 ----------- */
@media
    only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5)
{

}