/**
 * [ page ] resultado das avaliações
 */
#review-info {
    color: #999;
    font-family: "MontSerrat";
    font-size: 25px;
    text-align: right;

    p {
        margin-bottom: 0;
    }
}

#qty-total-reviews {
    font-size: 26px;

    strong {
        color: $primary-color;
        font-size: 34px;
    }
}

#last-update {
    color: #fcba39;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    font-family: serif;
}

.ct-label {
    fill: #fff !important;
    font-size: 14px;
    font-family: "MontSerrat";
}

.wrapper-chart {
    opacity: 0.7;
    padding: 50px;
    margin-bottom: 50px;

    h5 {
        font-size: 20px;
        border-bottom: 1px $primary-color solid;
        margin-bottom: 30px;
        text-transform: lowercase;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.legend {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    text-transform: lowercase;

    li {
        color: #fff;
        width: 45%;
        padding: 7px;
        float: none !important;
        display: inline-block;
        font-size: 14px;

        &.qty-3 {
            width: 33%;
        }

        &.qty-5 {
            width: 20%;
        }
    }
}

.slice0 {
    background-color: #d70206;
}

.slice1 {
    background-color: #f05b4f;
}

.slice2 {
    background-color: #f4c63d;
}

.slice3 {
    background-color: #d17905;
}

.slice4 {
    background-color: #453d3f;
}

#ranking-box {
    margin-top: 80px;

    li {
        float: left;
        position: relative;
    }

    h3 {
        background-color: #fcba39;
        border: 8px #fff solid;
        color: #fff;
        font-family: serif;
        font-style: italic;
        font-size: 28px;
        font-weight: bold;
        margin: auto;
        opacity: 0.8;
        position: absolute;
        left: 0;
        line-height: 45px;
        right: 0;
        text-align: center;
        top: -30px;
        height: 62px;
        width: 62px;
        @include full-radius;
    }

    .info {
        padding: 50px;
        text-align: center;
    }

    .maternity-name {
        font-weight: normal;
    }

    .badge {
        background: url("../img/sprite-badges.png") no-repeat;
        color: #fcba39;
        display: block;
        font-weight: bold;
        font-size: 24px;
        font-family: serif;
        margin:  0 auto 30px auto;
        height: 48px;
        text-align: right;
        line-height: 45px;
        width: 185px;
    }

    .position1 {
        margin-bottom: 40px;
        width: 100%;

        h3 {
            font-size: 50px;
            line-height: 72px;
            top: -50px;
            height: 90px;
            width: 90px;
        }

        .info {
            background: url("../img/bg-gold1.png");
        }

        .maternity-name {
            font-size: 30px;
            color: #555;
        }

        .badge {
            background-position: 0 -50px;
            font-size: 34px;
            width: 240px;
        }

        .wrapper-chart {
            background-color: #fffae6;

            .legend {
                li {
                    font-size: 18px;
                    width: 33%;
                }
            }

            h5 {
                text-align: left;
            }
        }

        .ct-label {
            font-size: 20px;
        }
    }

    .position2 {
        float: left;
        width: 48%;

        h3 {
            background-color: #777;
        }

        .info {
            background: url("../img/bg-silver.png");
        }

        .maternity-name {
            font-size: 20px;
            color: #555;
        }

        .badge {
            background-position: 0 -97px;
            color: #999;
        }

        .wrapper-chart {
            background-color: #fff;
        }
    }

    .position3 {
        float: right;
        width: 48%;

        h3 {
            background-color: #a63039;
        }

        .info {
            background: url("../img/bg-bronze.png");
        }

        .maternity-name {
            font-size: 20px;
            color: #555;
        }

        .badge {
            background-position: 0 0;
            color: #a63039;
        }

        .wrapper-chart {
            background-color: #fdfbfb;
        }
    }

    .star {
        color: #fcba39;
        font-size: 35px;
    }
}

.ct-slice-pie {
    stroke: #fff;
}

#general-ranking {
    .even td {
        background-color: #ffe7ed;
    }

    table {
        border-bottom: 1px #aaa solid;
        border-top: 1px #aaa solid;
        border-collapse: separate;
        border-spacing: 0;
        color: #555;
        width:100%;
        text-align: center;

        td {
            padding: 10px 5px;
            text-transform: lowercase;
            cursor: pointer;
        }

        thead {
            td {
                background-color: #f9f9f9;
                border-bottom: 1px #aaa solid;
                color: #777;
                font-family: "MontSerrat";
                padding: 15px 5px;
            }
        }

        tbody {
            tr {
                &:hover {
                    td {
                        background-color: #3590dd;
                        color: #e3f0fa;
                    }

                    .view-details {
                        i {
                            background-position: -24px -308px;
                        }
                    }
                }
            }
        }
    }

    .view-details {
        i {
            background: url("../img/sprite-global.png") no-repeat -24px -328px;
            display: block;
            height: 20px;
            width: 20px;
        }
    }

    .negative {
        color: #f01927;
    }
}

.overlay {
    background-color: #000;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.7;
    position: fixed;
    z-index: 5;
    width: 100%;

}

#review-detail {
    display: none;

    .content-detail {
        background-color: #fff;
        box-shadow: #000 3px 4px 9px;
        color: #555;
        display: block;
        width: 800px;
        height: 600px;
        padding: 30px 50px 50px 50px;
        z-index: 11;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -300px;
        margin-left: -400px;
    }

    h3 {
        border-bottom: 1px #FF4E79 solid;
        font-weight: normal;
        margin-bottom: 30px;
    }

    h4 {
        color: #555;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .close {
        background: url("../img/close.png") no-repeat center center;
        cursor: pointer;
        height: 24px;
        float: right;
        margin-right: -35px;
        margin-top: -15px;
        width: 24px;

        &:hover {
            opacity:0.8;
        }
    }

    .detail-info {
        border-bottom: 1px #eee solid;
        border-left: 7px #ddd solid;
        padding: 3px 3px 3px 14px;
        /*margin-bottom: 15px   ;*/
        margin-bottom: 1px;

        ul {
            margin-left: 20px;

            li {
                list-style: disc;
                font-size: 15px;
            }
        }
    }

    .score {
        color:#fff;
        text-align: center;
        margin: 30px auto;
        width: 250px;
        padding: 10px 20px;
        text-align: right;
        position: relative;

        label {
            padding: 7px 18px;
            position: absolute;
            top: -10px;
            left: -10px;
            text-transform: uppercase;
            font-size: 13px;
            font-style: italic;
        }

        span {
            font-size: 26px;
            font-weight: bold;
            font-style: italic;
        }

        &.positive {
            background-color: #347d13;

            label {
                background-color: #22510c;
            }
        }

        &.negative {
            background-color: #f01927;

            label {
                background-color: #b90c17;
            }
        }
    }

    .asterisk {
        color: #3590dd;
        font-size: 20px;
        line-height: 10px;
    }

    .asterisk-explanation {
        color: #3590dd;
        font-style: italic;
        font-size: 15px;
        font-family: serif;
        text-align: right;
        margin-top: 30px;
    }
}

#other-statistics {
    h3 {
        margin: 20px auto 0 auto;
        border-bottom: 1px $primary-color solid;
        text-transform: lowercase;
    }

    &::first-child {
        margin-top: 0;
    }

    .ct-label {
        font-size: 18px;
    }

    .legend {
        li {
            padding: 10px;
            font-size: 18px;

            &.qty-2 {
                width: 33%;
            }
        }

    }
}

.mm-chart {
    margin-bottom: 50px;
}

.description {
    color: #777;
    text-transform: lowercase;
    font-size: 18px;

    ul {
        margin-left: 20px;

        li {
            list-style-type: square;
            margin-bottom: 10px;

            strong {
                color: $primary-color;
            }

            ul li {
                list-style-type: circle;
                font-size: 15px;
                line-height: 20px;
                font-style: italic;
                margin-bottom: 0;

                strong {
                    color: #777;
                }
            }
        }
    }

    em {
        text-decoration: underline;
    }
}

.chart-container {
    margin-top: -20px;
    position: relative;
    z-index: -1;
}

@-moz-document url-prefix() {
    #ranking-box {
        .badge {
            width: 245px;
        }

        h3 {
            font-size: 22px;
        }

        .position1 {
            .badge {
                width: 310px;
            }

            h3 {
                font-size: 42px;
            }
        }
    }
}
