---
layout: default
title: "Resultado das Avaliações"
excerpt: "Saiba quais são as maternidades mais bem avaliadas da cidade de Manaus!"
keywords: "Maternidades em Manaus, Maternidades Manaus, Maternidades de Manaus, Maternidades, Manaus, Melhores Maternidades de Manaus, Piores Maternidades de Manaus"
thumbnail: "/img/thumbnail-resultados.jpg"
seo:
  facebook: "Você está grávida e gostaria de saber qual a maternidade ideal para ter seu bebê em Manaus? Confira quais são as instituições mais bem avaliadas da cidade!"
  twitter: "Confira%20aqui%20quais%20são%20as%20maternidades%20mais%20bem%20avaliadas%20da%20cidade%20de%20Manaus.%20"
---

{% assign resultInfo = site.data.results %}

<div id="review-info">
  <p id="qty-total-reviews">
    total de <strong>{{ resultInfo.total_reviews }} avaliações</strong>
  </p>
  <p id="last-update">
    a última atualização dos resultados foi feita em
    <strong>
      {{ resultInfo.last_update.date }}, às {{ resultInfo.last_update.hour }}h
    </strong>
  </p>
</div>

<script>var globalCharts = [];</script>

<section id="maternity-ranking">
  <h2>maternidades mais bem avaliadas</h2>
  <div class="description">
    <p>Os gráficos do ranking mostram informações com base em alguns critérios:</p>
    <ul>
      <li id="help-concept">
        <strong>Conceitos:</strong> as repostas foram classificadas em 3 grupos:
        <ul>
          <li><strong>Negativo:</strong> conjunto de respostas do tipo <em>Ruim</em> e <em>Péssimo</em>;</li>
          <li><strong>Regular:</strong> respostas do tipo <em>Bom</em>;</li>
          <li><strong>Positivo:</strong> conjunto de respostas do tipo <em>Ótimo</em> e <em>Excelente</em>.</li>
        </ul>
      </li>
      <li id="help-recent-reviews">
        <strong>Período do Parto:</strong> avaliações recentes <em>(últimos 3 anos)</em> possuem um peso maior que avaliações mais antigas;
      </li>
      <li id="help-pregnant-reviews">
        <strong>Avaliações de Gestantes:</strong> avaliações de gestantes também possuem um peso maior que avaliações de acompanhantes.
      </li>
    </ul>
  </div>
  <ul id="ranking-box">
    {% for rank in resultInfo.top_ranking %}
      {% assign chartIndex = forloop.index %}
      <li class="position{{ forloop.index }}">
        <h3>{{ forloop.index }}º</h3>
        <div class="info" data-echo-background="{{site_url}}/img/bg-position-{{ forloop.index }}.png">
          <h4 class="maternity-name">{{ rank.name }}</h4>
          <i class="badge" data-echo-background="{{site_url}}/img/sprite-badges.png">{{ rank.reviews }} avaliações</i>
          {% for chart in rank.charts %}
            <div id="chart{{ chartIndex }}{{ forloop.index }}" class="wrapper-chart">
              <h5>{{ chart.title }}</h5>

              {% if chartIndex == 1 %}
                <div class="ct-chart ct-golden-section"></div>
              {% else %}
                <div class="ct-chart ct-square"></div>
              {% endif %}

              <script>
                  window.addEventListener("load", function(){
                      var data = {
                          series: []
                      };

                      var conceptData = {{ chart.data | jsonify }};
                      var htmlLegend  = '<ul class="legend">';
                      var count       = 0;
                      for (var prop in conceptData) {
                          data.series.push(conceptData[prop])
                          htmlLegend += '<li class="slice' + count + ' qty-' + Object.keys(conceptData).length + '">' + prop + '</li>';
                          count++;
                      }
                      htmlLegend += '<ul>';

                      var sum = function(a, b) {
                          return a + b
                      };

                      var options = {
                          labelInterpolationFnc: function(value) {
                              return Math.round(value / data.series.reduce(sum) * 100) + '%';
                          }
                      };

                      // plot chart
                      var thisChart = new Chartist.Pie(
                          '#chart'+ {{ chartIndex }} + {{ forloop.index }} + ' .ct-chart',
                          data,
                          options
                      );

                      globalCharts.push(thisChart);

                      // display legend
                      if (!document.querySelector('#chart' + {{ chartIndex }} + {{ forloop.index }} + ' .legend')) {
                          document.querySelector('#chart' + {{ chartIndex }} + {{ forloop.index }}).insertAdjacentHTML('beforeend', htmlLegend);
                      }
                  });
              </script>
            </div>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div style="clear:both;"></div>
</section>

<section id="general-ranking">
  <h2>classificação geral das maternidades</h2>
  <div id="review-detail">
    <div class="overlay"></div>
    <div class="content-detail">
      <span class="close"></span>
      <h3>detalhes da avaliação</h3>
      <h4 class="detail-maternity-name"></h4>
      <div class="detail-info">
        <strong>total de avaliações:</strong>
        <span class="qty-reviews"></span>
      </div>
      <div class="detail-info">
        <strong>avaliações de gestantes:</strong>
        <span class="pregnant-reviews"></span>
      </div>
      <div class="detail-info">
        <strong><span class="asterisk">*</span>avaliações recentes:</strong>
        <span class="recent-reviews"></span>
      </div>
      <div class="detail-info">
        <strong>respostas:</strong>
        <ul>
          <li class="excelente"><em>Excelente:</em> <span></span></li>
          <li class="otimo"><em>Ótimo:</em> <span></span></li>
          <li class="bom"><em>Bom:</em> <span></span></li>
          <li class="ruim"><em>Ruim:</em> <span></span></li>
          <li class="pessimo"><em>Péssimo:</em> <span></span></li>
        </ul>
      </div>
      <div class="score">
        <label>Total de pontos:</label>
        <span></span>
      </div>
      <p class="asterisk-explanation">
        * avaliações recentes equivalem aos <strong>últimos 3 anos</strong>.
      </p>
    </div>
  </div>
  <p class="description">
    aqui você encontra um listão geral com a classificação e pontuação de todas
    as maternidades que participaram da avaliação. clique na maternidade para
    ver dados mais detalhados.
  </p>
  <table>
    <thead>
      <tr>
        <td style="width:10%;">posição</td>
        <td style="width:75%;">maternidade</td>
        <td style="width:10%;">pontuação</td>
        <td style="width:5%;">detalhes</td>
      </tr>
    </thead>
    <tbody>
      {% for rank in resultInfo.general_ranking %}
        <tr
          class="{% cycle 'odd', 'even' %}{% if rank.rank < 0 %} negative{% endif %}"
          data-review-details='{{ rank | jsonify }}'
        >
          <td>{{ forloop.index }}</td>
          <td>{{ rank.name }}</td>
          <td>{{ rank.rank }}</td>
          <td class="view-details"><i></i></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section id="other-statistics">
  <h2>dados gerais da avaliação</h2>
  {% for graph in resultInfo.other_statistics %}
    <div id="piechart{{ forloop.index }}" class="mm-chart">
      <h3>{{ graph.title }}</h3>
      <div class="wrapper-chart">
        <div class="ct-chart ct-octave"></div>
      </div>
    </div>

    <script>
        window.addEventListener("load", function(){
            var data = {
                series: []
            };

            var generalData = {{ graph | jsonify }};
            var htmlLegend  = '<ul class="legend">';
            var count       = 0;
            for (var prop in generalData.data) {
                data.series.push(generalData.data[prop]);
                htmlLegend += '<li class="slice' + count + ' qty-' + Object.keys(generalData.data).length + '">' + prop + '</li>';
                count++;
            }
            htmlLegend += '<ul>';


            var sum = function(a, b) {
                return a + b
            };

            var options = {
                labelInterpolationFnc: function(value) {
                    return Math.round(value / data.series.reduce(sum) * 100) + '%';
                }
            };

            // plot chart
            var thisChart = new Chartist.Pie(
                '#piechart'+ {{ forloop.index }} + ' .ct-chart',
                data,
                options
            );

            globalCharts.push(thisChart);

            // display legend
            if (!document.querySelector('#piechart' + {{ forloop.index }} + ' .wrapper-chart .legend')) {
                document.querySelector('#piechart' + {{ forloop.index }} + ' .wrapper-chart').insertAdjacentHTML('beforeend', htmlLegend);
            }
        });

        window.addEventListener("resize", function(){
            resizeCharts();
        });
    </script>
  {% endfor %}
  <script>
  </script>
</section>

<script>
    window.addEventListener("load", function(){
        resizeCharts();
    });
</script>
