<!DOCTYPE html>
<html lang="pt-br" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  {% include head.html %}
  <body>
    {% include scripts/google-analytics.html %}
    <header id="header">
      <a id="logo" href="/">{{ site.title }}</a>
      <nav id="main-nav">
        <i class="menu">MENU</i>
        <ul>
          <li><a class="first" href="/">página inicial</a></li>
          <li><a href="/#rate-maternity">faça sua avaliação</a></li>
          <li><a href="/#na-midia">na mídia</a></li>
          <li><a href="/#social-network">redes sociais</a></li>
          <li><a href="/resultado-das-avaliacoes">resultado das avaliações</a></li>
        </ul>
      </nav>
      <div id="page-title">
        <h1>{{ page.title }}</h1>
      </div>
    </header>
    <div id="subtitle">
      <i class="heart"></i>
      <h2>{{ page.excerpt }}</h2>
    </div>
    <div id="content">
      {% include float-share-bar.html %}
      {{ content }}
    </div>
    <script src="/js/default.js"></script>
    {% include footer.html %}
  </body>
</html>